---
layout: page
title: Journal
pagination:
  enabled: true
  category: articles
  permalink: /blog/:num/
  sort_field: 'title'
  sort_reverse: false
---
      <div class="breadcrumbs-container">
 {% include breadcrumbs.html %}
    </div>


      
    <section class="panel panel--reset">
        <div class="grid">
   {% for post in paginator.post %}
  {% assign author = site.authors | where: 'name', post.author | first %}

            <article class="article--post">
                <header>
                    <div class="article--post__image rounded-lg w-20 h-20">
      {% if author %}
                        <figure role="presentation" class="bio-image">
                            <a href="#0" class="bio-image-link">
                                <div class="bio-image-wrapper">
                                    <img class="bio-image-image" src="{{ site.baseurl }}/{{ author.avatar }}" alt="{{ post.name }}">
                                </div>
                            </a>
                        </figure>
        {% endif %}
                    </div>
                    <span class="article--post__author-name grey">
                        <a href="/">
              {{ post.author }}
                        </a>
                <span>wrote</span>
            </span>
        </header>
        <h1 class="article--post__title">
            <a href="{{ post.url }}">
            {{ post.title }}
            </a>
        </h1>
        <footer class="article--post__stats">
            <ul>
                <li class="article--post__reading-time">
                    <svg width="18px" height="18px" class="icon">
                        <use xlink:href="#icon-time"></use>
                    </svg>
                    <span class="small-caps">11</span> min read
                </li>
                <li class="article--post__comments-count">
                    <a href="{{ post.url }}#comments">
                        <svg width="18px" height="18px" class="icon">
                            <use xlink:href="#icon-doc"></use>
                        </svg>
                            <span>Leave a comment</span>
                        </span>
                    </a>
                </li>
            </ul>
        </footer>
        <div class="article--post__content">
            <p class="article--post__teaser">
                <time datetime="2020-09-11" class="article--post__time">
                    September 11, 2020 —
                </time>
           {{ post.excerpt }}
                <a href="{{ post.url }}" class="read-more-link">Read More…</a>
            </p>
        </div>
    </article>
     {% endfor %}
     {% include pagination.html %}
 </div>
     </section>
