---
layout: page
title: Journal
permalink: /blog/
pagination:
  enabled: true
  category: articles
  permalink: /:num/
---
 {% include breadcrumbs.html %}
    <section class="panel--reset">
        <div class="grid">
   {% for post in paginator.posts %}
  {% assign author = site.authors | where: 'name', post.author | first %}

      <article class="article--post">
                <header>
                    <div class="article--post__image rounded-lg w-20 h-20">
      {% if author %}
                        <figure role="presentation" class="bio-image">
                            <a href="#0" class="bio-image-link">
                                <div class="bio-image-wrapper">
                                    <img class="bio-image-image" src="{{ site.baseurl }}/{{ author.avatar }}" alt="{{ post.name }}">
                                </div>
                            </a>
                        </figure>
                    </div>
                    <span class="article--post__author-name grey">
                        <a href="{{ author.url }}">
              {{ post.author }}
                        </a>
                 {% endif %}
                <span>wrote</span>
            </span>
        </header>
        <h1 class="article--post__title">
            <a href="{{ post.url }}">
            {{ post.title }}
            </a>
        </h1>
        <footer class="article--post__stats">
            <ul>
                <li class="article--post__reading-time">
{% include reading-time.html %}
                </li>
                <li class="article--post__comments-count">
                    <a href="{{ post.url }}#comments">
                        <svg width="18px" height="18px" class="icon">
                            <use xlink:href="#icon-doc"></use>
                        </svg>
                            <span>Leave a comment</span>
                        </span>
                    </a>
                </li>
            </ul>
        </footer>
        <div class="article--post__content">
            <p class="article--post__teaser">
                <time datetime="{{ post.date | date_to_string }}" class="article--post__time">
          {{ post.date | date_to_string }}
                </time>
           {{ post.excerpt | strip_html | truncatewords: 20, "..." }}
                <a href="{{ post.url }}" class="read-more-link">Read More…</a>
            </p>
        </div>
    </article>
     {% endfor %}
     {% include pagination.html %}
 </div>
     </section>
