---
layout: page
title: Events
permalink: /events/
pagination:
  enabled: true
  category: events
  permalink: /:num/
---


 <section class="c home" id="main-content">
     <div class="vsn">
         <div class="vs">
             <div class="v">
                 <p>
                     Welcome to our events page, 
                     <strong>
                         Only Upcoming and most relevant
                     </strong>
                     events are displayed on this page, our events which are usually (Family meetings, Live streaming ) etc, 
                     <em>are live changing</em>.
                    <br><br>
                    With tangible takeaways, Spiritual exercises, 
                    <strong>innovatives</strong>, transforming, <strong>and lots of fun 

                    </strong> and a friendly Q&amp;A. 
                    <a href="#all-events">Jump to all events&nbsp;↓

                    </a>
                </p>
            </div>
            <div class="v">
                <img src="{{ site.baseurl }}/images/jesus-in-the-market.jpg" alt="Pastor Seeds events" class="img-photo">
            </div>
        </div>
    </div>
    <div class="vsn">
        <div class="vs">
            <div class="v">
                <ul id="all-events" style="scroll-padding-top: 2em;">
    {% for post in paginator.posts %}
         <li><strong>
         <a href="{{ post.url }}">
       ({{ post.event }}) {{ post.title }}
                        </a>
                    </strong>
                    <br>
  With {{ post.speaker }}. {{ post.date }}
                </li>
        {% endfor %}
            </ul>
        </div>
        <div class="v">
            <ul>
        {% for post in paginator.posts %}
                <li><strong>
                    <a href="{{ post.url }}">
                      ({{ post.event }}) {{ post.title }}
                    </a>
                  </strong>
                  <br>
                  With {{ post.speaker }}. {{ post.date | date_to_string }}
                </li>
        {% endfor %}
        </ul>
    </div>
</div>
<hr>
<div class="vsn">
    <div class="vs">
        <div class="v">
            <p>
                All the
                <strong>events held</strong>
                 by the pastor seeds family
                 <em>Edo 3</em>
                  are both informative and entairtaining and inspiring: 
                  <a href="#0">
                    Join Us to Participate
                </a>. Good luck!
            </p>
            <p>Please respect our 
                <a href="#0">
                    Code of Conduct
                </a> and our 
                <a href="#0">
                    Accessibility Statement
                </a>.
            </p>
            <br>
            <br>
        </div>
        <div class="v">
            <div class="info">
       <img alt="Pastor Seeds family logo" src="{{ site.baseurl }}/images/PSF-12-LOGO-white.png" class="partycat">
                <div>
                    <p>
                        Please note <strong>all events</strong> 
                        are planned and held by the pastor's seeds family of edo province 3
                        <br>Have a question?
                        <a href="{{site.baseurl }}/contact.html">
                            contact us
                        </a>!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
