---
---

@import "fonts";

$header-bg: #104f78;
$color-primary: #104f78;
$color-primary-offset: #146396;
$color-green: #15847d;
$color-text: #16252c;
$color-text-offset: #646e73;
$color-bg: #f5f5f5;
$color-white: #ffffff;
$color-light: #fbf7ed;

@import "reset";
@import "modules";
@import "utilities";

/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
.brand {
    font-size: 20px;
    font-family: Gotham Rounded;
    z-index: 1001;
 }
 .header-button,.nav__toggle {
  padding: .5em;
  font-size: 1.3em;
}
  
  .site-header {
    background-color: $header-bg;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 10px 10px -10px rgba(33,35,38,0.1);
 }
  
  .site-header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem; 


    a {
        color: $color-white;
        text-decoration: none;
    }
}
    @media (min-width: 768px) {
      .site-header__wrapper {
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0; } 
    }
  @media (max-width: 767px) {
    .site-header__middle {
      order: 3;
    }
    .site-header__end {
        margin-left: auto;
    }
    .nav__toggle {
      color: $color-white;

    }
 }
  
  @media (min-width: 768px) {
    .nav__wrapper__inner {
      display: flex;
     }
     .nav__toggle {
       display: none;
     } 
     .nav__item a {
      padding: 1.8em .9em;
      display: inline-block;
    }
    .mobile-nav {
      display: none!important;
    }
    }
  
  @media (max-width: 767px) {
      .nav {
          display: flex;
          align-items: center;
      }
      .nav__wrapper {
        display: none;
      }
     
    }
    .js-mobile-nav-open.mobile-nav {
      display: block;
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  .mobile-nav--right {
      right: 0;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  .mobile-nav {
      position: fixed;
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      z-index: 1000;
      top: 0;
      bottom: 0;
      width: 18.75em;
      max-width: 100%;
      -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      background-color: #ffffff;
      font-size: 1.1428571429em;
      font-family: Gotham Rounded, Helvetica, Arial, sans-serif;
  }

  .mobile-nav__inner {
    position: relative;
    min-height: 100%;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
}
.mobile-nav__top {
  position: relative;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.mobile-nav__logo {
  margin-right: auto;
}
.mobile-nav .mobile-nav__logo__psf {
  display: inline;
  vertical-align: middle;
}
.mobile-nav__logo__psf {
  display: block;
  width: 165px;
  height: 32px;
  color: $color-text;
  text-decoration: none;
}
.mobile-nav__close-btn {
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 1.25em;
  height: 1.25em;
  padding: 0.75em;
  fill: #212326;
  position: absolute;
  top: 50%;
  right: -0.75em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  .icon {
    width: 100%;
    height: 100%;
}
}

.mobile-nav__arrow {
  vertical-align: middle;
  width: 12px;
  height: 6px;
  margin-left: 5px;
}
.marketing-nav__arrow, .marketing-nav__external-indicator {
  display: inline-block;
}
.mobile-nav__items {
  padding-top: 16px;
  border-top: 1px solid #d2d5d9;
}
.mobile-nav__item--primary, .mobile-nav__item--primary a {
  color: #212b36;
  text-decoration: none;
}
.mobile-nav__item--primary {
  font-size: 1em;
  font-weight: 500;
  text-transform: normal;
  padding-top: 16px;
  padding-bottom: 16px;
}
.mobile-nav__item {
  display: block;
  width: 100%;
  color: #212b36;
  font-size: 1em;
  font-weight: 500;
  padding-top: 0.725em;
  padding-bottom: 0.725em;
  text-align: left;
  line-height: 1;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  text-decoration: none;
}
.mobile-nav__items + .mobile-nav__items {
  margin-top: 16px;
}

.mobile-nav__items--user .mobile-nav__item {
    font-weight: 500;
}
.mobile-nav__item--join {
    color: #ffffff !important;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
}

         /* footer */
         .site-footer {
          background-color: $header-bg;
          font-size: 100%;
         }
         .footer {
          z-index:4;
          margin:0 auto;
          padding:2.5em 3.75em 1.25em;
          color:rgba(0,0,0,.7);
          background:url(images/true-love.svg) 95% 50% no-repeat;
          background-size:20em;


         p {
          font-size:1rem;
          margin-bottom: 1.375em;
         }

         ul {
          margin-left:0;
          padding-left:0;
          margin-bottom: 1.375em;
         }

         a {
          -webkit-transition: all .3s;
          transition: all .3s;
          text-decoration: none;
          padding: .35em .1em;
          color: $color-white;
          border-bottom: .08em solid $color-white;

          &:hover {
            color:#fff;
          background-color:#2c92d0
          }
         }

         &::after {
          display:table;
          clear:both;
          content:""
         }
        }
         .footer-nav {
          display: inline-block;
          margin-bottom: .5em;
          padding-left: .25em;
          padding-top: .7143em;
      }

         
         .footer-nav .br {
          display:block
         }
         .footer .btt,
         .k {
          clear:left
         }
         .footer-nav {
          margin-right:27.2857em;
          padding-top:.7143em;


         li {
          margin-right:1.1429em;
          display: inline-block;
         }
        }
         
         .footer__inner {
          float:left;
          font-size:.875em;
          line-height:2em
         }
         .k {
          margin:.7857em 0 1.5714em
         }

         @media screen and (max-width:62.5em) {
         
          .footer__inner {
           float:none
          }
          .footer {
           width:100%;
           padding:2.5em 0 20em;
           text-align:center;
           background-position:center 85%
          }
          .footer-nav {
           margin:0 auto
          }
          .footer-nav li {
           margin:0 1.4286em 0 0
          }
          .footer-nav .br {
           display:inline-block
          }
          .footer-nav .k {
           margin:.5em .5em 1em
          }
          .btt {
           clear:both
          }
         }
         @media screen and (max-width:48em) {
          .footer {
           padding-bottom:50%
          }
         }

         @media screen and (max-width:62.5em) {
          
          .footer {
           width:100%;
           padding:2.5em 0 20em;
           text-align:center;
           background-position:center 85%
          }
          .footer-nav {
           margin:0 auto;
           padding-top: .7143em;
          }
          
         }
         @media screen and (max-width:37.5em) {
          .footer {
           padding-bottom:65%;
           font-size:.875em;
           line-height:1.5em
          }
          .footer em {
           display:block;
           margin-bottom:.8333em
          }
          .footer-nav li {
           margin:0 .41667em
          }
          
         }

        .back-to-top-link-wrapper {
          text-align:center;
          margin-bottom:32px
         }
         @media screen and (min-width: 46.875em) {
          .back-to-top-link-wrapper {
           text-align:right
          }
         }
         .back-to-top-link {
          font-size:1.125em
         }
         .link--point-up .link__arrow {
          transform: rotate(-90deg);
          margin-top: 0;
      }         
        .chat {
          position: fixed;
          bottom: 1em;
          right: .5em;
          z-index: 9999999;
        }
        .chat--link {
          color: $color-text;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          background-color: #ffffff;
          border-radius: 15px;
          text-align: center;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          border: 1px solid #e9e9e9;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);

          &:hover,&:focus {
          background-color: $color-primary;
           color: $color-white;
          }
        }
        /* page titles */
        .page-links {


          a {
            color: $color-white;
            display: inline-block;
            padding: .5em;
            text-decoration: underline;
          }
        }

      /* testimonies */
      .heading--jumbo {
        display:block;
        margin-bottom:0.5555555556em;
        font-size:2.25em;
        line-height:1.2222222222;
        font-weight:800;
        font-family:Gotham Rounde, Helvetica, Arial, sans-serif;
        letter-spacing:-0.025em;
        color: $color-green;
       }
       .heading--jumbo.heading--jumbo-white {
        color: $color-white;
       }
       @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
        .heading--jumbo {
         font-size:2.25em;
         margin-bottom:0.5555555556em
        }
       }
       @media screen and (min-width: 67.5em) {
        .heading--jumbo {
         font-size:3.75em;
         margin-bottom:0.4em
        }
       }
      .testimonial {
        
      }
      .testimonial__content {
        font-weight:400;
        display:inline;
        line-height:1.4;

       }
       .testimonial__blockquote {
        margin:0;
        z-index:10;
        margin-top: 0.95em;
       }
       .testimonial__image {
        margin-left:0;
        z-index:10;
        max-height: 347px;

       }
       
       .testimonial__cite {
        font-size:0.75em;
        margin-top:0.95em
       }
      
/* about page */
.about-header {
  box-shadow: none;
}
.event--heading {
background-size: cover;
background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),  url(images/cover-1.jpg);
background-repeat: no-repeat;
background-position:center;
}
.about--h1  {
  -webkit-font-kerning:normal;
  font-kerning:normal;
  font-variant-ligatures:common-ligatures contextual discretionary-ligatures;
  font-feature-settings:'kern', 'liga', 'clig', 'calt', 'dlig';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  display:block;
  margin-bottom:0.2380952381em;
  font-size:1.625em;
  line-height:1.1904761905em;
  font-weight:800;
  font-family:Gotham Rounded, Helvetica, Arial, sans-serif;
  letter-spacing:-0.0207142857em;
 }
 @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .about--h1  {
   font-size:2.25em;
   margin-bottom:0.4166666667em;
  }
 }
 @media screen and (min-width: 67.5em) {
  .about--h1 {
   font-size:2.625em;
   margin-bottom:0.25em
  }
 }
/* breadcrumbs */

.breadcrumbs-container {
  background: #ffffff;
  border-bottom: 1px solid #dfe3e8;
}
.breadcrumbs {
  padding-top: 15px;
  padding-right: 5%;
  padding-left: 5%;
  font-size: 1rem;
  border: 0;
  margin-bottom: 0.9375em;
}
.breadcrumbs__item {
  display: inline-block;
}
.breadcrumbs__link {
  color: inherit;
}
.breadcrumbs__link::after {
  display: inline-block;
  padding: 0 15px;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2020%2020%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20rgb(99,%20115,%20129)%20!important;%20%7D%3C/style%3E%3Cpath%20d=%22M8%2016c-.256%200-.512-.098-.707-.293-.39-.39-.39-1.023%200-1.414L11.586%2010%207.293%205.707c-.39-.39-.39-1.023%200-1.414s1.023-.39%201.414%200l5%205c.39.39.39%201.023%200%201.414l-5%205c-.195.195-.45.293-.707.293z%22/%3E%3C/svg%3E%0A");
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

/* sidebar */

.article-grid .sidebar {
  margin-top: 30px;
}
.sidebar {
  padding-top: 2.8125em;
  padding-bottom: 2.8125em;
  font-size: 1rem;
}
@media (max-width: 567px) {
  .sidebar {
      display: none!important;
  }
}
 @media (min-width: 568px) {
  .grid-article > *:nth-child(1) {
    flex: 0 240px;
    margin-right: 10px;
}
 }
.sidebar-menu {
  margin: 0;
}
.sidebar-menu li {
  border-right: 1px solid #dfe3e8;
}
.sidebar-item--depth-0 {
  padding-left: 0px;
}
.sidebar-item--expanded, .sidebar-item--active {
  font-weight: 600;
}
.sidebar-item--active .sidebar-link, .sidebar-item--active .sidebar-link:hover {
  color: #ffffff;
}
.sidebar-item--active .sidebar-link {
  background: $color-primary;
}
.sidebar-link {
  display: block;
  padding: 6px;
      padding-left: 6px;
  color: $color-text;
  position: relative;
  padding-left: 1.25rem;
}
.sidebar-item--has-children.sidebar-item--active .sidebar-link::before {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  margin: 0 3px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2020%2020%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20rgb(255,%20255,%20255)%20!important;%20%7D%3C/style%3E%3Cpath%20d=%22M10%2014c-.256%200-.512-.098-.707-.293l-5-5c-.39-.39-.39-1.023%200-1.414s1.023-.39%201.414%200L10%2011.586l4.293-4.293c.39-.39%201.023-.39%201.414%200s.39%201.023%200%201.414l-5%205c-.195.195-.45.293-.707.293z%22/%3E%3C/svg%3E%0A");
}

/* articles */

article, .article {
  font-size: 1rem;
  max-width: 80ch;
  margin-bottom: 30px;
  color: $color-text;
  line-height: 1.7;
}
.article p,.info {

  p {
    margin-bottom: 1.6666666667em;
  }
}
  ul.items {
    padding-left: 1.25em;
    list-style: disc outside;
    margin-top: -15px;

    li {
      padding-left: 5px;
      margin-bottom: 7px;

      p {
        margin-bottom: 10px;
      }
    }
  }
article h1:first-of-type, .article h1:first-of-type {
  margin-bottom: 30px;
  margin-top: 0;
}
.article h1, .article h2, .article h3, .article > p, .toggleBox > p {
  counter-reset: chapter;
}
article h1, article h2, .article h1, .article h2 {
  font-weight: normal;
}



/* hero */

.contact-header{
  background-color: $header-bg;
}
.contact-header {
  box-shadow: none;

  .site-header,.nav__toggle {
  color: $color-white;
}

}

/* block */
.preview {
  -webkit-box-shadow: 0 3px 40px #f0f1f2;
  box-shadow: 0 3px 40px #f0f1f2;
  border-radius: 5px;
}
.lazyload-image {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: auto;
}
.lazyload-image .lazyload-image__placeholder {
  display: block;
  width: 100%;
  height: 0;
}
.preview__content {
  padding: 7%;
}
.block__content {
  margin-bottom: 1em;
}
.block {
  display: block;
  border-color: #d2d5d9;
  margin-bottom: 2.8125em;
}
.block__content {
  margin-bottom: 1em;
}
.block__cta:last-child {
  margin-bottom: 0;
}
.block.block__last-block {
  margin-bottom: 0;
}

/* contact form */
.subscribe__content-wrapper {
  position:relative
 }
 .subscribe__form {
  transition:opacity 300ms
 }
 .subscribe__disclaimer {
  margin-top:16px
 }
 .subscribe__success {
  opacity:0;
  pointer-events:none;
  position:absolute;
  width:100%
 }
 .js-success .subscribe__success {
  opacity:1;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  transition:opacity 300ms 0.2s;
  pointer-events:auto
 }
 .js-success .subscribe__content {
  opacity:0;
  pointer-events:none
 }
 .subscribe--sidebar .subscribe__heading,
 .subscribe--sidebar .subscribe__success__heading {
  font-size:1em;
  line-height:1.5em
 }
 .subscribe--centered {
  text-align:center
 }
 .subscribe--centered .subscribe__form {
  margin-left:auto;
  margin-right:auto
 }
 .subscribe--padded {
  padding:32px
 }
 @media screen and (min-width: 46.875em) {
  .subscribe__form--narrow {
   max-width:28.125em
  }
 }
 @media screen and (max-width: 67.4375em) {
  .subscribe--inline {
   text-align:center
  }
 }
 @media screen and (min-width: 67.5em) {
  .subscribe--inline .subscribe__content {
   display:flex;
   flex-wrap:wrap
  }
 }
 @media screen and (max-width: 67.4375em) {
  .subscribe--inline .subscribe__content {
   max-width:30em;
   margin-right:auto;
   margin-left:auto
  }
 }
 @media screen and (min-width: 67.5em) {
  .subscribe--inline .subscribe__form {
   flex:1
  }
 }
 @media screen and (min-width: 67.5em) {
  .subscribe--inline .subscribe__heading {
   max-width:50%;
   margin-right:2em;
   margin-bottom:0;
   align-self:center
  }
 }
 @media screen and (min-width: 67.5em) {
  .subscribe--inline .subscribe__disclaimer {
   width:100%
  }
 }
 @media screen and (min-width: 46.875em) {
  .form--inline {
   text-align:center
  }
 }
 .form--inline .input-wrapper {
  text-align:left
 }
 @media screen and (min-width: 46.875em) {
  .form--inline .input-wrapper {
   margin-bottom:0
  }
 }
 .form--inline__heading {
  text-align:center
 }
 .input-button-pair__field-wrapper {
  display:flex;
  flex-wrap:wrap;
  margin-left:-8px;
  margin-right:-8px
 }
 .input-button-pair__label,
 .input-button-pair__input,
 .input-button-pair__button {
  margin-right:8px;
  margin-bottom:8px
 }
 .input-button-pair__input,
 .input-button-pair__button {
  margin-left:8px
 }
 .input-wrapper .input-button-pair__input,
 .input-wrapper .input-button-pair__button {
  margin-bottom:8px
 }
 .input-button-pair__label {
  flex-basis:100%
 }
 .input-button-pair__input {
  flex-basis:0;
  flex-grow:999;
  min-width:250px
 }
 .input-button-pair__button {
  flex-grow:1
 }
 .form-button {
  display:inline-block;
  padding:1em 1.8125em;
  border-radius:4px;
  font-family:Gotham Rounded Book, Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size:1em;
  line-height:1.133;
  -webkit-font-smoothing:antialiased;
  transition:150ms ease;
  transition-property:background-color, border-color, box-shadow, color;
  text-align:center;
  -webkit-user-select:none;
  user-select:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  box-shadow:0 5px 15px 0 rgba(0,0,0,0.15);
  background-color: $color-primary-offset;
  color:#ffffff;
  border-width:1px;
  border-style:solid;
  border-color:transparent
 }
 .form-button,
 .form-button:hover,
 .form-button:focus {
  text-decoration:none
 }
 .form-button:focus {
  outline:0
 }
 @media screen and (min-width: 46.875em) {
  .form-button+.form-button {
   margin-left:16px
  }
 }
 
 .form-button:hover {
  box-shadow:0 5px 25px 0 rgba(0,0,0,0.25)
 }
 .form-button:focus {
  box-shadow:0 0 0.1875em 0.1875em rgba(0,128,96,0.5)
 }
 
 .form-input,
.form-textarea,
.form-select {
 display:inline-block;
 height:3.2em;
 width:100%;
 margin:0 0 15px;
 padding:1em 0.9375em;
 color:#212326;
 font-family:Gotham Rounded Book, Helvetica, Arial, sans-serif;
 font-size:1em;
 box-shadow:0 0 0 1px #6b7177;
 border:1px solid transparent;
 border-radius:4px;
 background-color:#ffffff;
 transition:padding 150ms;
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none
}
.input-label {
  display:block;
  margin-bottom:0.6153846154em;
  font-family:Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size:0.8125em;
  color:#42474c
 }
 
 .input-label--in-field {
  position:absolute;
  left:1rem;
  top:0.5rem;
  font-size:0.6875em;
  font-weight:400;
  pointer-events:none;
  z-index:10
 }
 .input-label--floating {
  opacity:0;
  transform:translateY(3px);
  transition-property:opacity, transform;
  transition-duration:150ms
 }

.form-input:focus,
.form-textarea:focus,
.form-select:focus
 {
 color:#000000;
 outline:0;
 box-shadow:0 0 0 2px $color-green
}




.contact-container {
  padding: 1em 0;
}
.contact__form {
  margin-top: 1.25em;
}
form fieldset:first-of-type {
  margin-top: 0;
}
.contact-container fieldset {
  background: $color-light;
  border-radius: 11px;
  padding: 1em 2em;
}
form fieldset {
  border: none;
  padding: 0;
  margin: 3em 0 0;
      margin-top: 3em;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
.contact-container fieldset legend {
  background: #fbf7ee;
  padding: .5em 1em;
  border-radius: 11px;
  position: relative;
  top: -.3em;
  color: $color-primary;
}
/* form img */
.form-img__wrapper {
  margin: 1em 0;
  width: 160px;
  height: 160px;
  border: 1px solid rgba(33,35,38,0.1);
  border-radius: 11px;
}
.form-img {
  height: 100%;
  width: 100%;
  border-radius: 11px;
  line-height: 160px;
  text-align: center;
}
form fieldset legend {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: Gotham Rounded,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
.form__field {
  display:block;
  font-size:.9em;
  /*! width:100%; */margin-bottom:1.5em;
 }
label {
  max-width: 100%;
}
.form__field__label {
  display: block;
  margin-bottom: .5em;
  cursor: pointer;
}
.form__field__input, input[type="password"], input[type="text"], textarea {
  background: #fff;
  border: 1px solid #bbb;
  transition: all .3s ease-in-out;
  background-position: right 1.35em center;
  background-size: .25em .25em;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  border-radius: 11px;
  padding: 1.65em 2em 1.26em 1em;
  display: block;
  width: 100%;
  outline: 0;

}
.form__field--radio {
  margin: 0 0 .4em;
  padding: .5em 0;
}
.form__field--radio input {
  height: 1px;
  width: 1px;
  opacity: 0;
  float: left;
  padding: 0;
}
.form__field--radio .form__field__label {
  display: block;
  position: relative;
  cursor: pointer;
  line-height: 1;
  z-index: 2;
  padding: .2em 0;
  transition: all .2s ease-out;
}
.form__field--checkbox .form__field__label, .form__field--radio .form__field__label {
  margin: 0;
}

.form__field--radio .form__field__label::before {
  display: inline-block;
  margin-bottom: -4px;
  content: '';
  background-color: #fff;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: 1px solid #bbb;
  transition: border-color .2s ease-in-out;
  vertical-align: middle;
  position: relative;
  top: -4px;
  z-index: 1;
  margin-right: .75em;  
}
.form__field--radio input:checked + .form__field__label::before {
  border: none;
  background-color: $color-primary;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCAxNCAxNCI+CjxjaXJjbGUgZmlsbD0iI2ZmZiIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNCIgLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: center center;
}

.form__field--radio .form__field__label::before {
  display: inline-block;
  margin-bottom: -4px;
  content: '';
  background-color: #fff;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: 1px solid #bbb;
  transition: border-color .2s ease-in-out;
  vertical-align: middle;
  position: relative;
  top: -4px;
  z-index: 1;
  margin-right: .75em;
}
.form__field__input:active, .form__field__input:focus, input[type="email"]:active, input[type="email"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="text"]:active, input[type="text"]:focus, textarea:active, textarea:focus {
  box-shadow: 0 4px 15px #bebebe;
  border-color: #dadada;
  outline: 0 !important;
}


 .form__field--floating {
  position: relative;
}

 .form__field--floating .form__field__label {
  position: absolute;
  top: 8px;
  left: 1.25em;
  transition: all .3s ease-out;
  color: #aaa;
  font-size: calc(.8em + .1vw);
  padding: 18px 0;
  z-index: 1;
}
.form__field--floating:hover .form__field__label,
.form__field--floating:focus .form__field__label {
  padding: 8px 0;
}
.form__field .input-wrapper {
  position: relative;
}

.contact-container .btn--lined {
  margin-top: 3em;
}
.form__row:after,
.form__row:before {
 content:' ';
 display:table;
 clear:both
}
.field--half {
 /*! width:50%; */float:left;
 margin-right:2%
}
.field--half:last-child {
 margin-right:0
}
.field--half:nth-last-child(2):first-child {
 /*! width:49%; */margin-right:1%;
}
@media all and (max-width:650px) {
 .field--half:nth-last-child(2):first-child {
  float:none;
  width:100%;
  margin-right:0;
  margin-left:0
 }
}
.field--half:nth-last-child(2):first-child~.field--half {
 width:49%;
 margin-left:1%
}
@media all and (max-width:650px) {
 .field--half:nth-last-child(2):first-child~.field--half {
  float:none;
  width:100%;
  margin-right:0;
  margin-left:0
 }
}
@media all and (max-width:780px) {
 .field--half {
  width:100%;
  margin-right:0
 }
}


.btn--lined {
  display: block;
  text-align: center;
  background-image: linear-gradient(#ddd,#ddd);
  background-size: 100% .06em;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 2em 0;
      margin-top: 2em;
}
.btn--lined .btn {
  display: inline-block;
  box-shadow: 0 0 0 1em #fff;
}

/* modal css */
 body.join {
   background-color: #f6f6f6;
 }

.modal-container--lowlight {
  color: $color-text;
}
.modal-container {
  min-height: 100vh;
  padding: 0 5%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
.modal__header {
  width: 100%;
}
.modal__controls {
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
  text-align: right;
}
.modal__close {
  margin: 0.625em -0.625em 0 0;
  padding: 0.625em;
  opacity: 1;
  background-color: #f6f6f6;

}

.modal-wrapper {
  margin: 1.25em auto;
  margin-bottom: 2.25em;
  width: 100%;
max-width: 600px;
}
.modal {
  background-color: $color-white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 11px;
  padding: 2em;
  width: 100%;
}
.modal-form {
  margin-top: 1.5em;
}

[data-component="Signup"] {
  min-height: 320px;
}
@media all and (min-width:770px) {
  .btn--lined__membership,
  .membership-checkout__hint {
   display:none
  }
  fieldset#set-up-credentials {
   margin-top:0
  }
 }
 .membership-checkout__hint small {
  display:block;
  line-height:1.5em;
  padding:1em 0;
  font-weight:400;
  font-family:AvenirNext,Avenir,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif
 }
 .level-more {

   a {
    float: right;
    clear: both;
    color: #006fc6;
    width: auto;
}
 }
 .level-more a:focus + .level-info {
   display: block;
  -webkit-animation: content-injection .3s forwards;
  animation: content-injection .3s forwards;

 }
.level-info {
  display: none;
    clear: both;
    float: right;
    font-size: .85em;
    max-width: 30em;
    padding: 1.5em 1.5em .5em 1em;
    margin: 1em 0;
    border-radius: 11px;
  color: #666;

    

    ul {
      list-style: disc;
      padding-left: calc(1.4em + .7vw);
      margin-top: 1em;

      > li {
        margin-bottom: .5em;
        padding-left: .25em;
        line-height: calc(1.5em + .2vw);
        word-break: break-word;
    }
  }
}
.ccv-info::after, .ccv-info::before {
  content: ' ';
  display: table;
  clear: both;
}
.ccv-info p {
  line-height: calc(1.5em + .2vw);
  word-break: break-word;

}
/* section help */

.panel--help {
  position:relative
 }
 @media screen and (max-width: 46.8125em) {
  .panel--help {
   padding-bottom:0
  }
 }
 [lang="en"] .panel--help__heading {
  max-width:18ch;
 }
 @media screen and (min-width: 46.875em) {
  .panel--help__content {
   padding-right:32px
  }
 }
 @media screen and (min-width: 46.875em) {
  .panel--help__last-block {
   margin-bottom:0
  }
  .panel--help__last-block .block__cta {
   width:150%
  }
 }
 .picture-img {
   height: 100%;
   object-fit: cover;
   object-position: 50%, 50%;
 }
 @media screen and (max-width: 46.8125em) {
  .panel--help__picture {
   height:24.375em
  }
 }
 @media screen and (min-width: 46.875em) {
  .panel--help__picture {
   position:absolute;
   top:0;
   right:0;
   bottom:0;
   width:33.3333333333%
  }
 }
 @media screen and (min-width: 67.5em) {
  .panel--help__picture {
   width:50%
  }
 }

 /* page img */
 .page-img__wrapper {
  position:relative;
  z-index:1;

  .grid__item {
    padding: 0px;
  }
 }
 @media screen and (max-width: 46.8125em) {
  .page-img__wrapper {
   margin:0 auto;
   width:90%;
   padding-bottom:2.5em
  }
 }
 .page-img__wrapper__inner {
    position:relative;
    top:0.9375em
 }
 @media screen and (max-width: 46.8125em) {
  .page-img__wrapper,
  .page-img__wrapper__inner {
   padding-top:0;
   padding-left:0;
   padding-right:0;
   top:0
  }
 }
 @media screen and (max-width: 46.8125em) {
  .page-img__wrapper__inner {
   margin-bottom:32px
  }
 }
 @media screen and (max-width: 46.8125em) {
  .page--grid-item {
   padding-left:5%;
   padding-right:5%
  }
 }
 @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .page--grid-item {
   margin-right:4%
  }
 }
 @media screen and (min-width: 67.5em) {
  .page--grid-item {
   margin-right:8%;
   margin-left:8%
  }
 }
 .page-img {
  display:block;
  position:relative;
  overflow:hidden;
  border-radius:4px;
  box-shadow:0 0 15px 6px rgba(210,183,155,0.2);
  max-height:380px
 }
 @media screen and (min-width: 67.5em) {
  .page-img {
   margin-right:10%;
   width:100%;
   bottom:0.9375em
  }
 }
 @media screen and (min-width: 67.5em) {
  .page-img__wrapper__inner {
   display:flex;
   align-items:flex-end
  }
 }

 .mission {
  position:relative;
  overflow-y:hidden
 }
 .mission__content {
  z-index:10;
  position:relative
 }
 @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .mission__content {
   margin-left:10%
  }
 }
 .mission__image {
  position:relative;
  z-index:10
 }
 .mission__image-container {
  position:relative
 }
 @media screen and (min-width: 46.875em) {
  .mission__image-container {
   margin-left:-2.5%;
   margin-top:15%
  }
 }
 .mission__image-container::after {
  background-color:#054a49;
  content:'';
  position:absolute;
  height:84%;
  padding-top:100%;
  width:73%;
  top:-10%;
  left:-10%;
  z-index:0;
  opacity:5%
 }
 @media screen and (max-width: 46.8125em) {
  .mission__image-container {
   margin-top:10%
  }
 }
 .mission__image--graphic-device {
  z-index:1;
  position:absolute;
  bottom:0;
  right:0
 }

 .hero__heading {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 3em;
}

/* family */

.c-section {
  display:flex;
  flex-direction:column;
  justify-content:space-between
 }
 @media screen and (min-width:800px) {
  .c-section {
   flex-direction:row;
   padding-left: 5%;
   padding-right: 5%;
  }
 }
 .c-section__header {
  padding:1rem
 }
 @media screen and (min-width:800px) {
  .c-section__header {
   border-top:1px solid rgba(119,119,136,.25);
   text-align:right
  }
 }

 .c-section__title {
  font-family: Gotham Rounded;
  font-size:1rem;
  line-height:1.25;
  text-transform:uppercase;
  margin-bottom: 0px;
 }
 
 .c-section__main {
  margin-bottom:1.5rem;
  padding:1rem 1.5rem;
  border-top:1px solid rgba(119,119,136,.25)
 }
 @media screen and (min-width:800px) {
  .c-section__main {
   flex:1 0 75%;
   margin-left:5%;
   padding-left:0
  }
}
.c-listing {
  display:flex
 }
 .c-listing {
  flex-wrap:wrap
 }
 @supports (display:grid) {
  .c-listing {
   display:grid;
   grid-gap:.25rem
  }
 }
 .c-listing>* {
  display:flex;
  flex:1;
  margin:0 .25rem .25rem 0
 }
 @supports (display:grid) {
  .c-listing>* {
   margin:0
  }
 }
 .c-listing--authors {
  grid-template-columns:repeat(auto-fill,minmax(8rem,1fr))
 }
 .c-listing--authors>* {
  flex:8rem 0 0
 }
 .c-author {
  display:block;
  position:relative;
  overflow:hidden
 }
 .c-author__meta {
  font-size:.8125rem;
  line-height:1.23077;
  display:inline-block;
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  padding:.5rem;
  background-color:rgba(31,31,32,.75);
  color:#fff
 }
 @media print {
  .c-author__meta {
   color:#fff!important;
   background-color:#000!important
  }
 }
 .c-author:hover .c-author__meta {
  -webkit-text-decoration:underline hsla(0,0%,100%,.66);
  text-decoration:underline hsla(0,0%,100%,.66)
 }
 .c-author__image {
  display:block;
  height: 160px;
  width: 160px;
  transition:transform .5s ease-out;
  object-fit: cover;
  object-position: 50%;
 }
 .c-author:hover .c-author__image {
  transform:scale(1.1)
 }
 @media (prefers-reduced-motion) {
  .c-author:hover .c-author__image {
   transform:none
  }
 }
 .s-prose {
  font-family: serif;
  font-variant: common-ligatures oldstyle-nums;
  line-height: 1.5;
  letter-spacing: -.0125em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  max-width: 75ch;
}
.c-listing--images {
  grid-template-columns:repeat(auto-fill,minmax(16rem,1fr))
 }
 .c-listing--images >* {
  flex:16em 1 0
 }
 .c-listing--inset {
  padding:.25rem 0 0 .25rem
 }
 @supports (display:grid) {
  .c-listing--inset {
   padding:.25rem
  }
 }
 .c-images {
  display:flex;
  flex-direction:column;
  flex:1;
  position:relative;
  overflow: hidden;
  /*! background-color:#fff; */box-shadow:1px 1px 0 rgba(119,119,136,.25);


  figcaption {
    font-size:.8125rem;
    line-height:1.23077;
    display:inline-block;
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    padding:.5rem;
    background-color:rgba(31,31,32,.75);
    color:#fff
  }
 }
 .c-images__img {
  display:block;
  height: 247px;
  width:100%;
  min-width: 100%;
  transition:transform .5s ease-out;
  object-fit: cover;
  object-position: 50%;
 }
 .c-images:hover .c-images__img {
  transform:scale(1.1)
 }
 @media (prefers-reduced-motion) {
  .c-images:hover .c-images__img {
   transform:none
  }
 }


 .event-header-top {
   border: 0;
 }
 .event-header {
  background: $header-bg;

 }
 .event-header__inner {
  min-height:15.232em
 }
 @media (min-width: 750px) {
   .event-header__inner {
    padding-left: calc(5% + 9px);
    padding-right: calc(5% + 9px);
   }
 }
 .event-header__inner a {
  text-shadow:none;
  color:#fff
 }
 @media all and (min-height:750px) {
  .event-header__inner {
   min-height:15.232em;
   margin-top: 0px;

  }
 }
 .event-header__masthead {
  flex-direction:column;
  flex-wrap:nowrap;
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center
 }
 @media all and (min-width:750px) {
  .event-header__masthead {
   flex-direction:row;
   flex-wrap:wrap
  }
 }
 .event-header__illustration {
  padding-bottom:.5em 0;
  order:-1;
  transition:.3s all ease-in-out;
  max-width:350px;
  flex-basis: 33.33333%;
 }
 @media all and (max-width: 749px) {
   .event-header__illustration {
     margin-top: 1.5em;
   }
 }
 @media all and (min-width:750px) {
  .event-header__illustration {
   order:0;
   padding-bottom:0;
   margin: 3em 0;
  }
 }
 @media all and (max-height:850px) {
  .event-header__illustration {
   max-width:280px
  }
 }
 .event-header__illustration a {
  background-image:none
 }
 .event-header__illustration img {
  max-width:300px
 }
 @media all and (min-width:750px) {
  .event-header__illustration img {
   max-width:calc(93% + 1.2vw);
   height:auto;
   padding:1.5em 0
  }
 }
 @media all and (min-height:900px) {
  .event-header__illustration img {
   width:80%;
   max-width:375px
  }
 }
 @media all and (min-width:1500px) {
  .event-header__illustration img {
   padding:0;
   width:calc(100% + 2.5vw);
   max-width:110%;
   position:relative;
   left:calc(-1 * (2.5vw / 2) - 1vw)
  }
 }
 .event-header__tagline {
  padding:.5em 0;
  transition:.3s all ease-in-out;
  flex-basis: 66.66667%;
  max-width: 66.66667%;

  p {
    margin: calc(1em + .5vw) 0;
}
 }
 @media all and (min-height:850px) {
  .event-header__tagline {
   padding:calc(.5em + 1vw) 1em
  }
 }
 @media all and (min-width:1500px) {
  .event-header__tagline {
   max-width:55%;
   font-size:calc(1em + .2vw)
  }
 }
 @media all and (max-height:750px) {
  .event-header__tagline p span {
   display:none
  }
  .event-header__tagline {
    max-width: 100%;
    padding: .75em 1em;
  }
 }
 @media all and (max-width:930px) {
  .event-header__tagline p span {
   display:none
  }
 }
 @media all and (max-height:750px) and (min-width:930px) {
  .event-header__tagline p span {
   display:inline
  }
 }
 .event-header__tagline h1,
 .event-header__tagline p {
  text-shadow:1px 1px 1px rgba(0,0,0,.25)
 }
 .event-header__actions {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  margin:1.5em 0;
  padding:0;
  list-style:none;
  font-size:.85em;
  text-transform:uppercase;
  font-family:AvenirNext,Avenir,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif
 }
 
 .event-header__actions:after,
 .event-header__actions:before {
  content:' ';
  display:table;
  clear:both
 }
 .event-header__actions li {
  text-align:center;
  font-size:.85em;
  padding:0;
  color: $color-white;
 }
 .event-header__actions li:not(:last-child):after {
  content:'●'
 }
 @media all and (min-width:480px) {
  .event-header__actions li {
   float:left
  }
 }
 .event-header__actions a {
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  background-image:linear-gradient(#fff,#fff);
  background-repeat:no-repeat;
  background-size:100% 1px;
  background-position:center bottom 29%;
  background-origin:padding-box;
  text-shadow:3px 0 $color-primary,2px 0 $color-primary,1px 0 $color-primary,-1px 0 $color-primary,-2px 0 $color-primary,-3px 0 $color-primary;
  transition:color .1s ease-out;
  opacity:.8;
  margin-right:15px;
  margin-left:15px;
  letter-spacing:1px;
  white-space:nowrap;
  word-wrap:break-word
 }
 .event-header__actions a:focus,
 .event-header__actions a:hover {
  color:#000;
  text-decoration:none;
  padding:10px 0;
  background-image:linear-gradient(#000,#000);
  background-repeat:no-repeat;
  background-size:100% 1px;
  background-position:center bottom 29%;
  background-origin:padding-box;
  text-shadow:3px 0 $color-primary,2px 0 $color-primary,1px 0 $color-primary,-1px 0 $color-primary,-2px 0 $color-primary,-3px 0 $color-primary;
  transition:color .1s ease-out;
  opacity:1
 }
 .event-header__actions a.active {
  color:#000;
  background-image:linear-gradient(#000,#000)
 }
 @media (max-width:64em) {
  .event-header__actions li {
   width:auto;
   text-align:center;
  margin-bottom: .95em;

  }
 }
 @media all and (max-width:400px) {
  .event-header__actions {
   display:inline-block
  }
 }


 .c {
  padding: calc(1.5em + 3vh)  3.75em  ;
  border-bottom: 1px solid #fff;

  p {
    margin-bottom: 1.375em;
    max-width: 800px;
    max-width: 50rem;
    font-size:1.25em;

  }
}
.vsn + .vsn {
  margin-top: 2em;
}
.vsn,.vs,.v {
  overflow: hidden;
}

.vs {
 margin:0 -4% 0 0
}
.v {
 float:left;
 width:46%;
 margin-right:4%;

 ul {
  margin-bottom: 1.375em;
  margin-left: 1em;
  padding-left: 0;

  li {
    line-height: 1.6em;
    font-size: 22.4px;
      font-size: 1.4rem;
      margin-bottom: .5em;
      padding-left: .25em;

  }
 }
}
.v a {
 font-weight:700;
 border-bottom: 2px solid #8cc8ff;
color: #0168b8;
-webkit-transition: border-bottom .2s ease-in-out;
transition: border-bottom .2s ease-in-out;
padding: 2px 0 0;
line-height: 1.5;
text-decoration: none;

&:hover {
  border-bottom: 2px solid #0168b8;
}
}
.vs .img-photo {
  margin: 0 auto 2em auto;
 display: block;
 max-height: 330px;
 width: auto;
 max-width: 100%;
}
.info {
  border-radius:11px;
  background-color:#f3fbee;
  border:2px dashed #d6f1c5;
  padding:1.375em 1.375em .875em 1.375em;
  margin:0 0 1.375em 0
 }
 @media screen and (max-width:48em) {
  .info {
   text-align:center
  }
 }
 .info p {
  font-size:1em;
  margin-bottom:.5em
 }
 img.partycat {
  width:110px;
  height:100%;
  margin:0 1em 1em
 }
 @media screen and (min-width:48em) {
  .info {
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient:horizontal;
   -webkit-box-direction:reverse;
   -ms-flex-direction:row-reverse;
   flex-direction:row-reverse;
   -webkit-box-pack:justify;
   -ms-flex-pack:justify;
   justify-content:space-between
  }
 }

@media screen and (max-width:48em) {
  .hi {
   overflow:hidden
  }
  .cls {
   -webkit-column-count:1;
   -moz-column-count:1;
   column-count:1
  }
  .iim .nf {
   clear:both;
   width:100%
  }
  .iim .mt {
   clear:both;
   padding-top:1.375em
  }
  .s h3 {
   white-space:normal
  }
  .s .spnf,
  .s .tnf {
   margin:0
  }
  .hi .io,
  .iim .mt,
  .m,
  .s .spnf,
  .s .tnf {
   width:auto
  }
  .hi .io,
  .iim .nf {
   margin-right:0
  }
  .hi .io,
  .iim .mt,
  .s .spnf,
  .s .tnf {
   float:none
  }
  .io .std {
   width:50%;
   padding:1.5% 2.5% 5.5%
  }
  .ig li {
   width:29.3%
  }
  .vs {
   margin:0;
   padding-bottom:0;
   border-bottom:0
  }
  .v {
   float:none;
   margin:0 0 2.75em;
   padding-bottom:2.75em
  }
  
  .s .spnf,
  .s .tnf,
  .v {
   width:auto;
  }
  .m a.active,
  .m a:hover,
  .v {
   border-bottom:.08em solid #eee;
  }
  
 }
 @media screen and (max-width:37.5em) {
  .hi .ilk,
  .hi .io {
   float:none;
   width:auto
  }
  
  .hi .io {
   margin-right:0
  }
  .hi .ilk {
   margin:.3125em 0 1.375em;
   text-align:center
  }
  .hi .ilk img {
   width:auto;
   height:auto;
   margin:0 auto
  }
  .c {
    padding:2.5em 1em 0;
   }
  
}

.io p:first-child {
  position:static;
  position:initial;
  color:#444;
  font-style:normal;
  line-height:1.6em
 }
 .io p:first-child strong {
  font-family:"Elena";
  font-weight:700;
  font-style:normal
 }
  .dashboard-membership__callout {
  display:flex;
  flex-direction:column;
  flex-wrap:wrap
 }
 @media all and (min-width:700px) {
   .dashboard-membership__callout {
   flex-direction:row;
   flex-wrap:nowrap
  }
 }
  .dashboard-membership__callout p {
  text-align:left;
  margin-top:1em
 }
  .dashboard-membership__callout p:first-child {
  margin-top:0
 }
  .dashboard-membership__callout li.coming-up::before,
  .dashboard-membership__callout li.new::before {
  background:#41b14f;
  color:#fff;
  padding:.35em .65em;
  font-weight:700;
  font-size:.75em;
  border-radius:11px;
  margin-right:.5em;
  text-transform:uppercase;
  letter-spacing:1px
 }
  .dashboard-membership__callout li.new::before {
  content:'New ↬'
 }
  .dashboard-membership__callout li.coming-up::before {
  content:'Coming up ↬'
 }
  .dashboard-membership__callout .dashboard-membership__callout__coming-up {
  flex-shrink:1;
  margin-left:0;
  list-style-image:none;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap
 }
  .dashboard-membership__callout .dashboard-membership__callout__coming-up a .article-header--meta-item__date,
  .dashboard-membership__callout .dashboard-membership__callout__coming-up a time {
  background-image:linear-gradient(#fff,#fff)
 }
  .dashboard-membership__callout .dashboard-membership__callout__coming-up .article-header--meta-item__date,
  .dashboard-membership__callout .dashboard-membership__callout__coming-up time {
  font-size:.95em;
  color:#333;
  text-shadow:none
 }
  .dashboard-membership__callout .dashboard-membership__callout__coming-up li {
  flex:1;
  padding:calc(.75em + .35vh) calc(1em + 1vw);
  margin-bottom:calc(.75em + .5vh);
  min-width:300px;
  margin-right:calc(1em + .75vw)
 }
 @media all and (min-width:700px) {
   .dashboard-membership__callout .dashboard-membership__callout__coming-up {
   margin-left:calc(1em + .75vw)
  }
 }
  .dashboard-membership__callout .dashboard-membership__visuals {
  margin-top:2em
 }
 @media all and (min-width:700px) {
   .dashboard-membership__callout .dashboard-membership__visuals {
   margin-top:0
  }
 }
  .dashboard-membership__callout ul {
  margin:0
 }
  .dashboard-membership__callout ul.webinar-list {
  margin-bottom:2.25em
 }
  .dashboard-membership__callout figure a {
  background:0 0
 }
  .dashboard-membership__callout figcaption a {
  color:#006fc6;
  text-decoration:none;
  padding:10px 0;
  background-image:linear-gradient(#006fc6,#006fc6);
  background-repeat:no-repeat;
  background-size:100% 1px;
  background-position:center bottom 29%;
  background-origin:padding-box;
  text-shadow:3px 0 #fff,2px 0 #fff,1px 0 #fff,-1px 0 #fff,-2px 0 #fff,-3px 0 #fff;
  transition:color .1s ease-out
 }
  .dashboard-membership__callout.dashboard-membership__callout-no-visuals {
  max-width:26em
 }
  .dashboard-membership__callout.dashboard-membership__callout--password form {
  max-width:20em
 }
  .dashboard-membership__callout.dashboard-membership__callout--password form small {
  color:#666;
  background-color:#fff2cc;
  padding:.5em 1em;
  border-radius:11px;
  display:block;
  line-height:1.5em;
  margin-bottom:2em
 }
 .dashboard-membership__visuals {
  border-radius:11px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center
 }
 @media all and (min-width:600px) {
  .dashboard-membership__visuals {
   padding:0 0 1em 3em
  }
 }
 .dashboard-membership__visuals figure {
  transition:.3s all ease-in-out;
  width:calc(220px + 2vw)
 }
 .dashboard-membership__visuals figure figcaption {
  font-size:.85em;
  color:#666;
  font-style:italic;
  display:block;
  float:right
 }
 .dashboard-membership__visuals figure figcaption.padding {
  position:relative;
  top:20px
 }
 .dashboard-membership__visuals figure figcaption a {
  text-decoration:none;
  padding:10px 0;
  background-image:linear-gradient(#2da2c5,#2da2c5);
  background-repeat:no-repeat;
  background-size:100% 1px;
  background-position:center bottom 29%;
  background-origin:padding-box;
  text-shadow:3px 0 #2da2c5,2px 0 #2da2c5,1px 0 #2da2c5,-1px 0 #2da2c5,-2px 0 #2da2c5,-3px 0 #2da2c5;
  transition:color .1s ease-out
 }

 .w-64 {
  width: 16rem;
}
.ml-auto {
  margin-left: auto;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.h-64 {
  height: 16rem;
}
.rounded-3xl {
  border-radius: 1.2em;
}


 .bio-image,
 .bio-image *,
 .bio-image :after,
 .bio-image :before {
  box-sizing:border-box
 }
 .bio-image {
  padding:0;
  margin:0;
  display:block;
  width:inherit;
  height:inherit;
  border-radius:inherit;
  position:relative
 }
 .bio-image::before {
  display:block;
  content:'';
  height:90%;
  width:160%;
  position:absolute;
  background-image:url(https://d33wubrfki0l68.cloudfront.net/10f9f40f8856e393ab4525a46bd8e60af9580324/0ab7a/images/shadow.png);
  background-size:100% auto;
  background-repeat:no-repeat;
  top:89%;
  left:-30%;
  right:0;
  transition:all .1s ease-out;
  transform-origin:30% 50%;
  pointer-events:none
 }
 .bio-image:hover::before {
  opacity:0;
  transform:scaleX(0)
 }
 .bio-image--white {
  --bio-image-border-color:#fff
 }
 .bio-image--white a {
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  background-image:linear-gradient(#fff,#fff);
  background-repeat:no-repeat;
  background-size:100% 1.5px;
  background-position:center bottom 29%;
  background-origin:padding-box;
  text-shadow:3px 0 #d33a2c,2px 0 #d33a2c,1px 0 #d33a2c,-1px 0 #d33a2c,-2px 0 #d33a2c,-3px 0 #d33a2c;
  transition:color .1s ease-out
 }
 a.bio-image-link {
  background:0 0;
  text-shadow:none;
  color:inherit;
  padding:0;
  display:block;
  border-radius:inherit;
  width:inherit;
  height:inherit
 }
 .bio-image-wrapper {
  background: $color-primary;
  border:solid 8px $color-primary-offset;
  border-radius:inherit;
  transform:scale(.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
  transform-origin:0 100%;
  transition:transform .2s ease-out;
  overflow:hidden;
  width:inherit;
  height:inherit
 }
 .bio-image-image {
  width:inherit;
  height:inherit;
  object-fit:cover;
  display:block;
  transform:scale(1.2) rotateZ(calc(11 * 1deg));
  transition:transform .2s ease-out;
  position: relative;
 }
 .bio-image-link:active .bio-image-wrapper,
 .bio-image-link:focus .bio-image-wrapper,
 .bio-image:hover .bio-image-wrapper {
  transform:scale(.84) translateX(15%) rotateZ(0)
 }
 .bio-image-link:active .bio-image-image,
 .bio-image-link:focus .bio-image-image,
 .bio-image:hover .bio-image-image {
  transform:scale(1.2) rotateZ(0)
 }
 .explanation-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: #333;
}

 @media all and (min-width:550px) {
  .explanation-wrapper {
   flex-direction:row-reverse
  }
 }
 .explanation-wrapper img {
  max-width:70%
 }
 @media all and (min-width:550px) {
  .explanation-wrapper img {
   margin-left:1em;
   width:100%;
   min-width:250px;
   height:auto;
   align-self:flex-start;
   justify-content:flex-start
  }
 }

 /* blog */

 .preview-links {
  margin-bottom:32px
 }
 .preview-links a {
  display:block;
  margin-bottom:16px;
  border-bottom:1px solid #d2d5d9;
  padding-bottom:0.75em;
  color: $color-primary;
  text-decoration: none;

  &:hover h4 {
    text-decoration: underline;
  }
 }
 .preview-links h4 {
  margin-bottom:0.3125em;
  font-size:1em
 }
 .preview-links p {
  margin-bottom:0
 }
 .search-form {
  position:relative;
  margin:32px 0;
 }
 .search-form__input {
  font-family:ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
  height:38px;
  font-size:0.875em;
  border-radius:19px;
  padding:0 16px 0 40px
 }
 .search-form__submit {
  position:absolute;
  top:11px;
  left:16px;
  width:16px;
  height:16px;
  background-size:contain;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2016%2016%22%3E%3Cstyle%20type=%22text/css%22%3Ecircle,%20ellipse,%20line,%20path,%20polygon,%20polyline,%20rect,%20text%20%7B%20fill:%20rgb(0,%20128,%2096)%20!important;%20%7D%3C/style%3E%3Cpath%20d=%22M15.552%2013.62L11.27%209.333c.585-.936.925-2.046.925-3.23C12.195%202.73%209.465%200%206.098%200%202.73%200%200%202.732%200%206.103c0%203.37%202.73%206.1%206.098%206.1%201.19%200%202.304-.343%203.244-.935l4.28%204.283c.295.3.68.45%201.063.45h.005c.333%200%20.674-.12.93-.373.258-.26.38-.6.38-.94%200-.382-.154-.768-.448-1.063zM9.498%206.102c-.003%201.874-1.526%203.4-3.4%203.402C4.224%209.5%202.7%207.976%202.698%206.102c.003-1.875%201.526-3.4%203.4-3.404%201.874.003%203.397%201.528%203.4%203.403z%22/%3E%3C/svg%3E")
 }
 
 .blog__subscribe {
  color:#ffffff;
  background-color: $color-primary;
 }
 .blog__subscribe--header {
  background:transparent;
  padding:0
 }
 .blog__subscribe--header .subscribe__success__heading,
 .blog__subscribe--header .error {
  color:#ffffff
 }

 /* author */

 .l-author-bio {
  display:flex;
  flex-wrap:wrap;
  align-items:center
 }
 .l-author-bio-content {
  flex-grow:1;
  flex-shrink:1;
  flex-basis:300px
 }