<form class="js-form form contact__form" method="post" action="{{ site.staticman_url }}">
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
  <input type="hidden" id="comment-replying-to-uid" name="fields[replying_to_uid]" value="">
  <input type="hidden" name="options[slug]" value="{{ page.slug }}">
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
  <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.reCaptcha.secret }}">
  
      <fieldset>
      <legend>
    <h2>Add Comment<small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">(cancel reply)</a></small></h2>
    </legend>
            <label for="comment-form-name" class="form__field">
              <span class="form__field__label">
                What's your name?
              </span>
              <input class="form__field__input" type="text" name="fields[name]" type="text" id="comment-form-name" placeholder="Your name (required)" required/>
            </label>
            <label for="comment-form-email" class="form__field">
              <span class="form__field__label">
                What email can we reach you at?
              </span>
              <input class="form__field__input" type="email" name="fields[email]" type="email" id="comment-form-email" placeholder="Your email (optional)"/>
            </label>
          </fieldset>

  
    <fieldset>
      <legend>
        Your Comment
       </legend>
       <label for="comment-form-message" class="form__field form__field--textarea">
      <span class="form__field__label">
     markdown accepted
         </span>
 <textarea class="form__field__textarea" name="fields[message]" type="text" id="comment-form-message" required rows="6"></textarea>
      
              </label>
            </fieldset>
            
    <div class="textfield narrowfield hp">
      <label for="hp">
        <input class="textfield__input" name="fields[hp]" id="hp" type="text" placeholder="Leave blank">
      </label>
    </div>

    <div id="reCaptcha" class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
 <div class="btn--lined btn--lined--white-border submit-button-wrapper"> 
      <button class="btn btn--green btn--large" id="comment-form-submit">

          <span class="ladda-label">
            Post Comment →</span>
      </button>
       </div>
</form>

<article class="modal mdl-card mdl-shadow--2dp">
  <div>
    <h3 class="modal-title js-modal-title"></h3>
  </div>
  <div class="mdl-card__supporting-text js-modal-text"></div>
  <div class="mdl-card__actions mdl-card--border">
    <button class="button mdl-button--colored mdl-js-button mdl-js-ripple-effect js-close-modal">Close</button>
  </div>
</article>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none" >
  <symbol id="icon-loading" viewBox="0 0 24 24"><path d="M14 22c0 1.104-.896 2-2 2s-2-.896-2-2 .896-2 2-2 2 .896 2 2zm-2-22c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm10 10c1.104 0 2 .896 2 2s-.896 2-2.001 2c-1.103 0-1.999-.895-1.999-2s.896-2 2-2zm-20.001 1c.551 0 1.001.449 1.001 1 0 .551-.449 1-1 1s-1-.448-1-1 .448-1 .999-1zm.002-1h-.002c-1.104 0-1.999.896-1.999 2 0 1.105.896 2 2 2h.001c1.104 0 1.999-.896 1.999-2s-.895-2-1.999-2zm16.999-7c1.104 0 2 .896 2 2s-.896 2-2.001 2c-1.103 0-1.999-.895-1.999-2s.896-2 2-2zm0 14c1.104 0 2 .896 2 2s-.896 2-2.001 2c-1.103 0-1.999-.895-1.999-2s.896-2 2-2zm-14-13c.551 0 1 .448 1 1s-.449 1-1.001 1c-.551 0-.999-.448-.999-1s.449-1 1-1zm-.001-1c-1.104 0-1.999.896-1.999 2s.896 2 1.999 2h.001c1.104 0 2-.896 2-2s-.896-2-2.001-2zm.001 15c.551 0 1 .448 1 1s-.449 1-1.001 1c-.551 0-.999-.448-.999-1s.449-1 1-1zm-.001-1c-1.104 0-1.999.896-1.999 2s.896 2 1.999 2h.001c1.104 0 2-.896 2-2s-.896-2-2.001-2z"/>
  </symbol>
  </svg>

