      <!-- footer begining -->
      <div class="grid">
        <div class="grid__item back-to-top-link-wrapper">
          <a class="back-to-top-link link-scroll-to link link--secondary link--point-up" href="#top">Back to top&nbsp;<span class="link__arrow"><svg class="icon link__arrow-inner" aria-hidden="true" focusable="false"> <use xlink:href="#modules-arrow-right"></use> </svg></span></a>
    </div></div>
    <footer class="site-footer">
    <div class="footer page-width page-width--reset">
        <div class="footer__inner">
            <em>Pastors seed family of edo province official website
            </em>
            <p>
                <a href="{{ site.baseurl }}">
                    Pastor Seeds Family</a> Edo 3. Designed by <a href="https://facebook.com/spruce.emma">Spruce</a>.
                </p>
                <nav class="footer-nav">
                    <ul>
                        <li>
                            <a href="/">
                                Home
                            </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    Contact us
                                </a>
                            </li>
                            <li>
                                <a href="/about">
                                    About us
                                </a>
                            </li>
                            <li>
                                <a href="/gallery">
                                    Visit Our Gallery
                                </a>
                            </li>
                            <li>
                                <a href="/family">
                                    Meet Our Family
                                </a>
                            </li>
                            <li>
                                <a href="/events">
                                    See Upcoming Events
                                </a>
                            </li>
                            <li>
                                <a href="/join">
                                    Join The Family
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="https://fb.com/psfedo3">
                                    Facebook page
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/psfedo3">
                                    Twitter page
                                </a>
                            </li>
                            <li class="freiburg-2018">
                                <a href="https://instagram.com/psfedo3">
                                    Instagram page
                                </a>
                            </li>
                            <li class="ny-2018">
                                <a href="https://youtube.com/psfedo3">
                                    Youtube Channel
                                </a>
                            </li>
                            <li class="sf-2019">
                                <a href="https://telegram.com/psfedo3">
                                    Telgram Account
                                </a>
                            </li>
                            <li class="toronto-2020">
                                <a href="https://twitch.com/psfedo3">
                                    Twitch account
                                </a>
                            </li>
                            <li>
          <a href="/blog/Becoming-a-seed">
                                    Who is a seed
                                </a>
                            </li>
                            <li>
               <a href="/blog/participate">
                                        Participate
                                </a>
                            </li>
                            <li>
         <a href="https://youtube.com/psfedo3/live">
                                    Psf Live
                                </a>
                            </li>
                            <li class="k">
                               
                            </li>
                        </ul>
                    </nav>
                </div>
                
            </div>
          
      </footer>
      <div class="chat">
        <a href="https://wa.link/3bzzxu" class="chat--link">
            <svg class="icon" width="30px" height="30px" tabindex="-1" role="img" aria-labelledby="title">
                <title id="title">Message us on whatsapp</title>
                <use xlink:href="#logo-whatsapp"></use>
            </svg>
        </a>
    </div>
</div>