          {% if paginator.total_pages > 1 %}
   <ul class="pager">
     {% if paginator.previous_page %}
     <li class="previous">
       <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
     </li>
     {% endif %}
     {% if paginator.next_page %}
     <li class="next">
       <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
     </li>
     {% endif %}
   </ul>
              {% endif %} 
              
          {% if paginator.total_pages > 1 %}
        <nav class="pagination col col-12">
          <ul>
            <li class="pagination__current">
              1
            </li>
            <li>
              <a href="/author/rachel-andrew/page/2/">
                2
              </a>
            </li>
            <li>
              <a href="/author/rachel-andrew/page/3/">
                3
              </a>
            </li>
            <li class="pagination__ellipsis">
              ...
            </li>
            <li class="pagination__next">
              <a href="/author/rachel-andrew/page/2/">
                <svg viewBox="0 0 100 100" width="20" height="20" tabindex="-1" role="img" aria-labelledby="title">
                  <title>Next</title>
                  <path d="M10 50l50 50L70 90 30 50 70 10 60 0z" transform="translate(0 0) rotate(180 50 50)"></path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
           {% endif %} 