{% assign seeds = site.data.seeds[page.slug] | sort %}
{% for seed in seeds %}
 {% assign upload = seed[1].upload %}
 {% assign email = seed[1].email %}
 {% assign firstname = seed[1].firstname %}
 {% assign lastname = seed[1].lastname %}
 {% assign level = seed[1].level %}
 {% assign number = seed[1].number %}
  {% assign parish = seed[1].parish %}
  {% assign url = seed[1].url %}
  {% include seed.html index=forloop.index upload=upload email=email firstname=firstname lastname=lastname number=number parish=parish url=url %}
  
{% endfor %}