 .article--post {
  margin: 2.5em 0;
}
.article--post::after, .article--post::before {
  content: ' ';
  display: table;
  clear: both;
}
.article--post header::after, .article--post header::before {
  content: ' ';
  display: table;
  clear: both;
}
.article--post__title {
  color: #333;
  font-size: calc(18px + 1vw);
  max-width: 800px;
  margin: .15em 0 .5em;
  margin-top: 0.15em;
  margin-top: calc(-2em + 1.5vw);
  font-family: Gotham Rounded;
}
@media (max-width:40em) {
  .article--post__title {
   margin-top: .75em
  }
 }
 .article--post__title a {
  color:#333;
  transition:color .1s linear;
  background:0 0;
  text-shadow:none;
  padding:0
 }
 .article--post__title a:focus,
 .article--post__title a:hover {
  color: $color-primary
 }
 @media (max-width:40em) {
  .article--post__title {
   clear:both
  }
 }
 .article--post__content {
  width:70%;
  float:left;
  font-size:1em
 }
 .article--post__content p {
  margin:0
 }
 @media all and (max-width:980px) {
  .article--post__content {
   width:100%;
   float:none
  }
 }
 .article--post__image {
  float:left;
  margin-left:0;
  margin-right:.45em
 }
 @media screen and (min-width:40em) {
  .article--post__image {
   margin-right:.85em
  }
 }
 .article--post__author-name {
  color:#666;
  font-weight:700;
  font-size:calc(.9em + .1vw);
  font-family: Gotham Rounded;
 }
 @media (max-width:40em) {
  .article--post__author-name {
   position:relative;
   top:1.1em
  }
 }
 .article--post__stats {
  float:right;
  width:24%;
  font-size:.9em
 }
 .article--post__stats ul {
  list-style:none;
  padding:0;
  margin: 1em 0
 }
 .article--post__stats ul li::before {
  display:none
 }
 .article--post__stats ul li {
  padding-left:.5em;
  margin:.1em 0;
  color:#666;
 }
 
 @media all and (max-width:980px) {
  .article--post__stats {
   width:100%;
   float:none;
   clear:both
  }
  .article--post__stats ul li {
   display:inline;
   margin-right:1.5em
  }
 }