 /* author */

 .l-author-bio {
  display:flex;
  flex-wrap:wrap;
  align-items:center
 }
 .l-author-bio-content {
  flex-grow:1;
  flex-shrink:1;
  flex-basis:300px
 }
 .header-description {
  font-style: italic;
  color: #fff;
  font-size: calc(1em + .3vw);
  position: relative;
  border-left: solid 1px transparent;
  margin: 0 0 calc(1em + .5vw) 0;
}
.author__related__list {
  list-style: disc;
  font-size: .85em;
  padding-left: calc(1.4em + .7vw);
  margin: 1em 0;
max-width: 100%;
}
.author__related__list li{
 margin:10px 0;
 padding-left:10px
}
@media (max-width:64em) {
 .author__related__list li {
  float:left;
  margin-right:40px
 }
}
@media (max-width:64em) {
 .author__related {
  margin-left:0
 }
}

.header__title-desc {
  display: block;
  margin-bottom: .5em;
  letter-spacing: 2px;
  color: #fff;
  font-size: .35em;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: none;
  text-transform: uppercase;
  font-family: AvenirNext,Avenir,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif;
}
@media screen and (min-width:64em) {
  .author__related {
   margin-top:-1.6em;
  }
 }
 .author__related h6 {
  letter-spacing:2px;
  margin-bottom:2em;
  color: $color-text;
  font-size:.75em
 }
 .author__related a {
  font-weight:700;
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  background-image:linear-gradient(#fff,#fff);
  background-repeat:no-repeat;
  background-size:100% 1px;
  background-position:center bottom 29%;
  background-origin:padding-box;
  transition:color .1s ease-out
 }
 .author__related a:focus,
 .author__related a:hover
  {
  color:#000;
  text-decoration:none;
  padding:10px 0;
  background-image:linear-gradient(#000,#000);
  background-repeat:no-repeat;
  background-size:100% 1px;
  background-position:center bottom 29%;
  background-origin:padding-box;
  text-shadow:3px 0 $color-primary,2px 0 $color-primary,1px 0 $color-primary,-1px 0 $color-primary,-2px 0 $color-primary,-3px 0 $color-primary;
  transition:color .1s ease-out
 }

