
//
// Staticman new comment form
//


fieldset {
    border: none;
    padding: 0;
}

// each staticman text field is wrapped in this div
.textfield {
    max-width: 100%;
    padding: 0.5rem 0;
}

// fields except the comment field get this class too
// to keep them a reasonable size
.narrowfield {
    width: 420px;
}

.hp {
    display: none;
}

textarea {
    vertical-align: top;
}
.textfield__input {
    border: 1px solid rgba(0,0,0,.12);
    padding: 4px 5px;
    width: 100%;
    font-size: 16px;
}
.notify-me, .g-recaptcha {
    padding: 1em 0;
}
  
 .article__comments {
  padding:5em 0 2.5em;
  padding-right:30px;
  font-feature-settings:normal
 }
 .article__comments:after,
 .article__comments:before {
  content:' ';
  display:table;
  clear:both
 }
 @media screen and (min-width:64em) {
  .article__comments {
   padding-right:0;
  }
  .article__comments .article__comment-wrapper {
   margin-left:2em
  }
 }
 
 .comment__content {
  overflow-wrap:break-word;
  word-wrap:break-word;
  word-break:break-word
 }
 
 .comments__comment-count {
  color:#666;
  font-size:.5em;
  line-height:0;
  position:relative;
  top:-1em
 }
 .article__comment .author__image-wrapper {
  min-width:auto;
  min-height:auto
 }
 @media screen and (min-width:64em) {
  .article__comment .author__image-wrapper {
   min-width:80px;
   min-height:80px
  }
 }
 .article__comment a {
  color:#006fc6
 }
 .article__comment {
  margin:3em 0
 }
 @media all and (min-width:1025px) {
  .article__comment {
   padding-left:4.5em
  }
 }
 
 

//
// Staticman existing comments
//
.comments {
}
.comment__new {
    padding: 0px 0px 14px 0px;
}
.comment__author {
    color: #333;
}
.comment__date {
    font-size: .9em;
}
.comment__body {
    font-size: 1em;
}
.comment__meta {
    text-align: left;
    color: $color-text-offset;
    font-size: .9em;
}
.comments__existing {
    padding: 8px 0px 0px 0px;
}
.comment {
    border-top: 0px solid #ededed;
    padding: 0px 0px 0px 0px;
    margin-bottom: 1em;
}
.comment.child {
    margin-left: 2em;
}
.comment__reply-link {
    color: $color-text-offset;
    font-size: .7em;
    cursor: pointer;
}

//
// Pop-up modal window for Staticman comments
//
.show-modal {
    overflow: hidden;
    position: relative;
}
.show-modal:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.85);
}
.show-modal .modal {
    display: block;
}
.mdl-card {
    min-height: 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}
.modal {
    display: none;
    position: fixed;
    width: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   min-height: 0;
    z-index: 9999;
    box-shadow: 0 2px 2px 2px rgba(0,0,0,.14);
    padding: 16px;
    border-radius: 2px;
    background: white;
}
.mdl-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}
.mdl-card__supporting-text {
    overflow: hidden;
    padding: 16px;
    width: 90%;
}
.modal-title {
    margin-bottom: 0px;
}

.disabled {
    input,
    button,
    textarea,
    label {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        box-shadow: none;
        opacity: 0.65;
    }
}
