/* contact form */
.subscribe__content-wrapper {
  position:relative
 }
 .subscribe__form {
  transition:opacity 300ms
 }
 .subscribe__disclaimer {
  margin-top:16px
 }
 .subscribe__success {
  opacity:0;
  pointer-events:none;
  position:absolute;
  width:100%
 }
 .js-success .subscribe__success {
  opacity:1;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  transition:opacity 300ms 0.2s;
  pointer-events:auto
 }
 .js-success .subscribe__content {
  opacity:0;
  pointer-events:none
 }
 .subscribe--sidebar .subscribe__heading,
 .subscribe--sidebar .subscribe__success__heading {
  font-size:1em;
  line-height:1.5em
 }
 .subscribe--centered {
  text-align:center
 }
 .subscribe--centered .subscribe__form {
  margin-left:auto;
  margin-right:auto
 }
 .subscribe--padded {
  padding:32px
 }
 @media screen and (min-width: 46.875em) {
  .subscribe__form--narrow {
   max-width:28.125em
  }
 }
 @media screen and (max-width: 67.4375em) {
  .subscribe--inline {
   text-align:center
  }
 }
 @media screen and (min-width: 67.5em) {
  .subscribe--inline .subscribe__content {
   display:flex;
   flex-wrap:wrap
  }
 }
 @media screen and (max-width: 67.4375em) {
  .subscribe--inline .subscribe__content {
   max-width:30em;
   margin-right:auto;
   margin-left:auto
  }
 }
 @media screen and (min-width: 67.5em) {
  .subscribe--inline .subscribe__form {
   flex:1
  }
 }
 @media screen and (min-width: 67.5em) {
  .subscribe--inline .subscribe__heading {
   max-width:50%;
   margin-right:2em;
   margin-bottom:0;
   align-self:center
  }
 }
 @media screen and (min-width: 67.5em) {
  .subscribe--inline .subscribe__disclaimer {
   width:100%
  }
 }
 @media screen and (min-width: 46.875em) {
  .form--inline {
   text-align:center
  }
 }
 .form--inline .input-wrapper {
  text-align:left
 }
 @media screen and (min-width: 46.875em) {
  .form--inline .input-wrapper {
   margin-bottom:0
  }
 }
 .form--inline__heading {
  text-align:center
 }
 .input-button-pair__field-wrapper {
  display:flex;
  flex-wrap:wrap;
  margin-left:-8px;
  margin-right:-8px
 }
 .input-button-pair__label,
 .input-button-pair__input,
 .input-button-pair__button {
  margin-right:8px;
  margin-bottom:8px
 }
 .input-button-pair__input,
 .input-button-pair__button {
  margin-left:8px
 }
 .input-wrapper .input-button-pair__input,
 .input-wrapper .input-button-pair__button {
  margin-bottom:8px
 }
 .input-button-pair__label {
  flex-basis:100%
 }
 .input-button-pair__input {
  flex-basis:0;
  flex-grow:999;
  min-width:250px
 }
 .input-button-pair__button {
  flex-grow:1
 }
 .form-button {
  display:inline-block;
  padding:1em 1.8125em;
  border-radius:4px;
  font-family:Gotham Rounded Book, Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size:1em;
  line-height:1.133;
  -webkit-font-smoothing:antialiased;
  transition:150ms ease;
  transition-property:background-color, border-color, box-shadow, color;
  text-align:center;
  -webkit-user-select:none;
  user-select:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  box-shadow:0 5px 15px 0 rgba(0,0,0,0.15);
  background-color: $color-primary-offset;
  color:#ffffff;
  border-width:1px;
  border-style:solid;
  border-color:transparent
 }
 .form-button,
 .form-button:hover,
 .form-button:focus {
  text-decoration:none
 }
 .form-button:focus {
  outline:0
 }
 @media screen and (min-width: 46.875em) {
  .form-button+.form-button {
   margin-left:16px
  }
 }
 
 .form-button:hover {
  box-shadow:0 5px 25px 0 rgba(0,0,0,0.25)
 }
 .form-button:focus {
  box-shadow:0 0 0.1875em 0.1875em rgba(0,128,96,0.5)
 }
 
 .form-input,
.form-textarea,
.form-select {
 display:inline-block;
 height:3.2em;
 width:100%;
 margin:0 0 15px;
 padding:1em 0.9375em;
 color:#212326;
 font-family:Gotham Rounded Book, Helvetica, Arial, sans-serif;
 font-size:1em;
 box-shadow:0 0 0 1px #6b7177;
 border:1px solid transparent;
 border-radius:4px;
 background-color:#ffffff;
 transition:padding 150ms;
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none
}
.input-label {
  display:block;
  margin-bottom:0.6153846154em;
  font-family:Helvetica, Arial, sans-serif;
  font-weight:700;
  font-size:0.8125em;
  color:#42474c
 }
 
 .input-label--in-field {
  position:absolute;
  left:1rem;
  top:0.5rem;
  font-size:0.6875em;
  font-weight:400;
  pointer-events:none;
  z-index:10
 }
 .input-label--floating {
  opacity:0;
  transform:translateY(3px);
  transition-property:opacity, transform;
  transition-duration:150ms
 }

.form-input:focus,
.form-textarea:focus,
.form-select:focus
 {
 color:#000000;
 outline:0;
 box-shadow:0 0 0 2px $color-green
}




.contact-container {
  padding: 1em 0;
}
.contact__form {
  margin-top: 1.25em;
}
form fieldset:first-of-type {
  margin-top: 0;
}
.contact-container fieldset {
  background: $color-light;
  border-radius: 11px;
  padding: 1em 2em;
}
form fieldset {
  border: none;
  padding: 0;
  margin: 3em 0 0;
      margin-top: 3em;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
.contact-container fieldset legend {
  background: #fbf7ee;
  padding: .5em 1em;
  border-radius: 11px;
  position: relative;
  top: -.3em;
  color: $color-primary;
}



/* form img */
.form-img__wrapper {
  margin: 1em 0;
  width: 160px;
  height: 160px;
  border: 1px solid rgba(33,35,38,0.1);
  border-radius: 11px;
}
.form-img {
  height: 100%;
  width: 100%;
  border-radius: 11px;
  line-height: 160px;
  text-align: center;
  object-fit: cover;
  object-position: 50% 50%;
}
form fieldset legend {
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: Gotham Rounded,-apple-system,BlinkMacSystemFont,Roboto Slab,Droid Serif,Segoe UI,Oxygen-Sans,Ubuntu,Cantarell,Georgia,serif;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
.form__field {
  display:block;
  font-size:.9em;
  /*! width:100%; */margin-bottom:1.5em;
 }
label {
  max-width: 100%;
}
.form__field__label {
  display: block;
  margin-bottom: .5em;
  cursor: pointer;
}
.form__field__input, input[type="password"], input[type="text"], textarea {
  background: #fff;
  border: 1px solid #bbb;
  transition: all .3s ease-in-out;
  background-position: right 1.35em center;
  background-size: .25em .25em;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  border-radius: 11px;
  padding: 1.65em 2em 1.26em 1em;
  display: block;
  width: 100%;
  outline: 0;

}
.form__field--radio {
  margin: 0 0 .4em;
  padding: .5em 0;
}
.form__field--radio input {
  height: 1px;
  width: 1px;
  opacity: 0;
  float: left;
  padding: 0;
}
.form__field--radio .form__field__label {
  display: block;
  position: relative;
  cursor: pointer;
  line-height: 1;
  z-index: 2;
  padding: .2em 0;
  transition: all .2s ease-out;
}
.form__field--checkbox .form__field__label, .form__field--radio .form__field__label {
  margin: 0;
}

.form__field--radio .form__field__label::before {
  display: inline-block;
  margin-bottom: -4px;
  content: '';
  background-color: #fff;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: 1px solid #bbb;
  transition: border-color .2s ease-in-out;
  vertical-align: middle;
  position: relative;
  top: -4px;
  z-index: 1;
  margin-right: .75em;  
}
.form__field--radio input:checked + .form__field__label::before {
  border: none;
  background-color: $color-primary;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNHB4IiBoZWlnaHQ9IjE0cHgiIHZpZXdCb3g9IjAgMCAxNCAxNCI+CjxjaXJjbGUgZmlsbD0iI2ZmZiIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNCIgLz4KPC9zdmc+Cg==);
  background-repeat: no-repeat;
  background-position: center center;
}

.form__field--radio .form__field__label::before {
  display: inline-block;
  margin-bottom: -4px;
  content: '';
  background-color: #fff;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  border: 1px solid #bbb;
  transition: border-color .2s ease-in-out;
  vertical-align: middle;
  position: relative;
  top: -4px;
  z-index: 1;
  margin-right: .75em;
}
.form__field__input:active, .form__field__input:focus, input[type="email"]:active, input[type="email"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="text"]:active, input[type="text"]:focus, textarea:active, textarea:focus {
  box-shadow: 0 4px 15px #bebebe;
  border-color: #dadada;
  outline: 0 !important;
}


 .form__field__input:valid {
  
  border: 2px solid $color-green!important;
}

 .form__field--floating {
  position: relative;
}

 .form__field--floating .form__field__label {
  position: absolute;
  top: 8px;
  left: 1.25em;
  transition: all .3s ease-out;
  color: #aaa;
  font-size: calc(.8em + .1vw);
  padding: 18px 0;
  z-index: 1;
}
.form__field--floating.is-active .form__field__label {
  padding: 8px 0;
}
.form__field .input-wrapper {
  position: relative;
}

.contact-container .btn--lined {
  margin-top: 3em;
}
.form__row:after,
.form__row:before {
 content:' ';
 display:table;
 clear:both
}
.field--half {
 /*! width:50%; */float:left;
 margin-right:2%
}
.field--half:last-child {
 margin-right:0
}
.field--half:nth-last-child(2):first-child {
 /*! width:49%; */margin-right:1%;
}
@media all and (max-width:650px) {
 .field--half:nth-last-child(2):first-child {
  float:none;
  width:100%;
  margin-right:0;
  margin-left:0
 }
}
.field--half:nth-last-child(2):first-child~.field--half {
 width:49%;
 margin-left:1%
}
@media all and (max-width:650px) {
 .field--half:nth-last-child(2):first-child~.field--half {
  float:none;
  width:100%;
  margin-right:0;
  margin-left:0
 }
}
@media all and (max-width:780px) {
 .field--half {
  width:100%;
  margin-right:0
 }
}


.btn--lined {
  display: block;
  text-align: center;
  background-image: linear-gradient(#ddd,#ddd);
  background-size: 100% .06em;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 2em 0;
      margin-top: 2em;
}
.btn--lined .btn {
  display: inline-block;
  box-shadow: 0 0 0 1em #fff;
}