   /* page titles */
        .page-links {


          a {
            color: $color-white;
            display: inline-block;
            padding: .5em;
            text-decoration: underline;
          }
        }

      /* testimonies */
      .heading--jumbo {
        display:block;
        margin-bottom:0.5555555556em;
        font-size:2.25em;
        line-height:1.2222222222;
        font-weight:800;
        font-family:Gotham Rounde, Helvetica, Arial, sans-serif;
        letter-spacing:-0.025em;
        color: $color-green;
       }
       .heading--jumbo.heading--jumbo-white {
        color: $color-white;
       }
       @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
        .heading--jumbo {
         font-size:2.25em;
         margin-bottom:0.5555555556em
        }
       }
       @media screen and (min-width: 67.5em) {
        .heading--jumbo {
         font-size:3.75em;
         margin-bottom:0.4em
        }
       }
      
      
/* about page */
.about-header {
  box-shadow: none;
}
.event--heading {
background-size: cover;
background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),  url({{ site.baseurl }}/images/cover.jpg);
background-repeat: no-repeat;
background-position:center;
}
.about--h1  {
  -webkit-font-kerning:normal;
  font-kerning:normal;
  font-variant-ligatures:common-ligatures contextual discretionary-ligatures;
  font-feature-settings:'kern', 'liga', 'clig', 'calt', 'dlig';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  display:block;
  margin-bottom:0.2380952381em;
  font-size:1.625em;
  line-height:1.1904761905em;
  font-weight:800;
  font-family:Gotham Rounded, Helvetica, Arial, sans-serif;
  letter-spacing:-0.0207142857em;
 }
 @media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .about--h1  {
   font-size:2.25em;
   margin-bottom:0.4166666667em;
  }
 }
 @media screen and (min-width: 67.5em) {
  .about--h1 {
   font-size:2.625em;
   margin-bottom:0.25em
  }
 }

/* hero */

.contact-header{
  background-color: $header-bg;
}
.contact-header {
  box-shadow: none;

  .site-header,.nav__toggle {
  color: $color-white;
}

}