.sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border-width:0;
   }
  
.page-width {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-white;
}
.padded {
    padding-left: calc(5% + 9px);
    padding-right: calc(5% + 9px);
}
.padded--reset {
    padding-left: 0px;
    padding-right: 0px;
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.image {
    box-sizing: content-box;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: auto;
}
  /* bacgrounds */
  .background-green {
      background-color: $color-green;
      color: $color-white;
  }
  .background-lowlight {
    background-color: #002e25;
}

.color-white {
    color: #ffffff;
}
.background-light {
    background-color: #f4f6f8;
}
  .shadow-drop {
      animation: shadow-drop .4s cubic-bezier(.25,.46,.45,.94) both;
  }
  @keyframes shadow-drop {
      0% {
          transform: translateZ(0);
          box-shadow: 0,0,0,rgba(0,0,0,0);
      }
      100% {
          transform: translateZ(50px);
          box-shadow: 0 0 20px 0px rgba(0,0,0,0.35);
      }
  }
  @-webkit-keyframes content-injection {
    100% {
     transform:translateX(0);
     opacity:1
    }
    0% {
     transform:translateX(40px);
     opacity:0
    }
   }
   @keyframes content-injection {
    100% {
     transform:translateX(0);
     opacity:1
    }
    0% {
     transform:translateX(40px);
     opacity:0
    }
   }

   .w-20 {
    width:5rem
   }
   .w-24 {
    width:6rem;
   }
   .w-32 {
    width:8rem
   }
   .w-48 {
    width:12rem
   }
   .h-48 {
     height: 12rem
   }
   .w-64 {
    width:16rem
   }
   .h-24 {
    height: 6rem;
}
.h-20 {
    height: 5rem;
}

.mr-10 {
    margin-right: 2.5rem;
}
.mb-6 {
    margin-bottom: 1.5rem;
}
.rounded-lg {
    border-radius: .694rem;
}
   col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
 flex-basis:100%;
 max-width:100%
}
@media screen and (min-width:48em) {
 .col-1 {
  flex-basis:8.33333%;
  max-width:8.33333%
 }
 .col-2 {
  flex-basis:16.66667%;
  max-width:16.66667%
 }
 .col-3 {
  flex-basis:25%;
  max-width:25%
 }
 .col-4 {
  flex-basis:33.33333%;
  max-width:33.33333%
 }
 .col-5 {
  flex-basis:41.66667%;
  max-width:41.66667%
 }
 .col-6 {
  flex-basis:50%;
  max-width:50%
 }
 .col-7 {
  flex-basis:58.33333%;
  max-width:58.33333%
 }
 .col-8 {
  flex-basis:66.66667%;
  max-width:66.66667%
 }
 .col-9 {
  flex-basis:75%;
  max-width:75%
 }
 .col-10 {
  flex-basis:83.33333%;
  max-width:83.33333%
 }
 .col-11 {
  flex-basis:91.66667%;
  max-width:91.66667%
 }
 .col-12 {
  flex-basis:100%;
  max-width:100%
 }
}

.rotate-center{
  animation:rotate-center .6s ease-in-out both;
  animation-iteration-count: infinite;
  
}


@keyframes rotate-center {
  0% {
    transform:rotate(0)
    
  }
  100% {
    transform:rotate(360deg)
    
  }
  
}

#msg {
  background-color: $color-text-offset;
  color: $color-white;
  padding: 2px;
  border-radius: 2px;
}