---
layout: default
---

   <header class="grid panel--tight section--primary">
     <div class="grid__item">
       <div class="l-author-bio">
        <div class="author__bio-image-container rounded-lg w-24 h-24 mb-6 mr-10">
       <figure role="presentation" class="bio-image bio-image--white">
         <a href="/author/rachel-andrew" class="bio-image-link">
        <div class="bio-image-wrapper">
        <img class="bio-image-image" src="{{ site.baseurl }}/{{ page.avatar }}" alt="{{ page.name }}">
                            </div>
                        </a>
                    </figure>
                </div>
                <div class="col-9">
                    <h1 class="gotham h1">
                        <span class="header__title-desc">Author</span>
        {{ page.name }}
    </h1>
</div>
</div>
<div class="l-author-bio">
    <div class="col-9 author-page-description-container">
        <div class="header-description header-description--indent-author">
            <span class="cricket-bat">
                <span class="cricket-bat-text">
                    103 articles
                </span>
            </span>
     <p>
         {{ page.excerpt }}
            </p>
        </div>
    </div>
    <div class="col-3">
        <div class="author__related">
            <h6>Find {{ page.name }}:</h6><ul class="author__related__list"><li><a href="{{ page.twitter }}">Twitter</a></li><li><a href="{{ page.facebook }}">Facebook</a></li></ul></div></div></div></div>
    </header>

    <section class="panel panel--reset">
        <div class="grid">
     {% assign filtered_posts = site.posts | where: 'author', page.name %}
   {% for post in filtered_posts %}

            <article class="article--post">
                <header>
                    <div class="article--post__image rounded-lg w-20 h-20">
                        <figure role="presentation" class="bio-image">
                            <a href="#0" class="bio-image-link">
                                <div class="bio-image-wrapper">
                                    <img class="bio-image-image" src="{{ site.baseurl }}/{{ page.avatar }}" alt="{{ page.name }}">
                                </div>
                            </a>
                        </figure>
                    </div>
                    <span class="article--post__author-name grey">
                        <a href="/">
              {{ page.name }}
                        </a>
                <span>wrote</span>
            </span>
        </header>
        <h1 class="article--post__title">
            <a href="{{ post.url }}">
            {{ post.title }}
            </a>
        </h1>
        <footer class="article--post__stats">
            <ul>
                <li class="article--post__reading-time">
                    <svg width="18px" height="18px" class="icon">
                        <use xlink:href="#icon-time"></use>
                    </svg>
                    <span class="small-caps">11</span> min read
                </li>
                <li class="article--post__comments-count">
                    <a href="{{ post.url }}#comments">
                        <svg width="18px" height="18px" class="icon">
                            <use xlink:href="#icon-doc"></use>
                        </svg>
                            <span>Leave a comment</span>
                        </span>
                    </a>
                </li>
            </ul>
        </footer>
        <div class="article--post__content">
            <p class="article--post__teaser">
                <time datetime="2020-09-11" class="article--post__time">
                    September 11, 2020 —
                </time>
           {{ post.excerpt }}
                <a href="{{ post.url }}" class="read-more-link">Read More…</a>
            </p>
        </div>
    </article>
     {% endfor %}
 </div>
     </section>

