---
layout: default
---
    {% include breadcrumbs.html %}

<section class="panel panel--tight">
<article class="article-post grid">
  <div class="grid__item">
  {% assign author = site.authors | where: 'name', page.author | first %}
    {% if author %}
    <div class="mb-5">
       <div class="l-author-bio">
     <div class="w-48 h-48 bio-image__large rounded-3xl mb-5">
      <figure role="presentation" class="bio-image">
    
     <a href="{{ author.url }}" class="bio-image-link">
     <div class="bio-image-wrapper post">
     <img class="bio-image-image" src="{{ site.baseurl }}/{{ author.avatar }}" loading="lazy" alt="{{ author.name }}"></div></a></figure></div><div class="l-author-bio-content author__desc"><h3 class="author__desc__title">About The Author</h3><p> {{ author.bio }}
    <a href="{{ author.url }}" class="show-more-link">More about
         <span> {{ author.name }}
       </span>…</a></p></div></div></div>
       {% endif %}
    <header class="article-header">
    <ul class="article-header--meta">
      <li class="article-header--meta-item article-header--meta-item__date">
    <time class="article-header--date" datetime="{{ page.date | date_to_string }}">
     {{ page.date | date_to_string }}
          </time>
        </li>
        <li class="article-header--meta-item"><span class="article-header--comments">
          <a href="#comments"><span>Leave a comment</span></a>
          </span>
          </li>
          </ul>
  <h1 class="article-header--title gotham">
      {{ page.title }}
  </h1>
  </header>
  
  <div class="article--meta section--offset">
   
    <ul class="meta-box meta-box--article">
    <li class="meta-box--item meta-box--published">
      {% include reading-time.html %}
      </li>
    <li class="meta-box--item meta-box--tags">
    {% if page.tags %}
<span class="tags">
  <img src="/assets/images/icons/tag.svg" class="postIcon" />
  {% for tag in page.tags %}
  <em>{{ tag }}</em>
  {% endfor %}
</span>
{% endif %}
</li>
</ul></div>
<hr />
<div class="article-post__content">
  {{ content }}
  {% capture words %}
  {{ content | number_of_words | minus: 180 }}
  {% endcapture %}
</div>
<hr />
  {% if page.comments == true %}
  {% include comments.html %}
  {% else %}
          <div class="c">
        <div class="info">
      <img alt="Pastor Seeds family logo" src="{{ site.baseurl }}/images/PSF-12-LOGO-white.png" class="partycat">
           <div>
     <p>
      Please note <strong>Commenting</strong>
         as being turned off for this post.
         <br>Is there anything you want to share with us? Please
                  <a href="{{site.baseurl }}/contact.html">
                    contact us
                  </a>
                </p>
              </div>
            </div>
  </div>
  {% endif %}

  </div>
  </article>
  </section>
      
      
